<br><br>
<footer class="container fixed-bottom" style="background-color: hsl(34, 78%, 91%);">
    <label style="padding-bottom: 10px;">v1.0 - For internal use only - #Send me some gems if you like my work!#</Send></label>
</footer>
</body>
</html>