body {
    background-color: hsl(34, 78%, 91%);
}

.container {
    max-width: 1100px !important;
}

.container-shrink {
    max-width: 900px !important;
}

.container-shrink-small {
    max-width: 700px !important;
}

.container-shrink-settings {
    max-width: 500px !important;
}

.card {
    border-radius: 10px;
}

.table-no-border {
    border-color: antiquewhite !important;
}

.card-header, .card-body {
    background-color: hsl(34, 78%, 91%, 10%) !important;
}

.card-header-color {
    background-color: hsl(34, 78%, 91%, 40%) !important;
    border-bottom: none !important;
}

.card-header-closed, .card-body-closed {
    background-color: hsl(34, 78%, 91%, 40%) !important;
    border-bottom: none !important;
}

.index-priority-label {
    background-color: hsl(39, 100%, 50%, 30%);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    border-color: hsl(39, 100%, 50%, 60%);
    border-width: 0.5px;
    border-style: solid;
    font-size: 14px;
}

.index-created-label {
    background-color: hsl(120, 73%, 75%, 50%);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 8px;
    /* border-color: hsl(120, 73%, 75%);
    border-width: 0.5px;
    border-style: solid; */
    font-size: 14px;
}

.index-card-title {
    /* padding-left: 10px; */
    text-decoration: none;
    font-size: 16px;
    color: red;
}

.index-assigned-label {
    background-color: hsl(0, 0%, 83%, 30%);
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    border-radius: 8px;
    border: hsl(0, 0%, 83%);
    border-style: solid;
    border-width: 0.5px;
}

.index-descr-label {
    font-size: 14px;
}

.index-tags-label {
    background-color: hsl(195, 53%, 79%, 40%);
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    border-radius: 8px;
}

.choose{
    width: 250px !important;
    /* height: 20px !important; */
    margin: 0px 0px 5px 0px !important;
}

.msglabel {
    background-color: hsl(0, 100%, 50%, 60%);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 12px;
}

.msg-label-btn {
    padding-left: 5px;
    text-align: center;
    background: none;
    border-style: none;
}

.table_c, .td_c, .th_c {
    border: 1px solid black;
    border-collapse: collapse;
}

.table_c {
    margin-left: 100px;
    margin-right: 100px;
}

.th_c {
    font-size: 12px;
}

.td_c, .th_c {
    text-align: center;
    border-color: hsl(0, 0%, 50%, 50%);
}

.danger-bt, .unhide-bt {
    padding: 0.1px 10px;
}

.unhide-bt {
    background-color: hsl(271, 76%, 53%, 60%) !important;
    border-color: hsl(271, 76%, 53%) !important;
    color: #fff !important;
}

.unhide-bt:hover {
    color: black !important;
}

.card-header-hidden {
    background-color: hsl(34, 78%, 91%, 40%) !important;
}

.export-link {
    text-decoration: none;
}

.export-link:hover {
    color: red;
}

.searchbox-input {
    width: 250px; 
    margin-bottom: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 5px;
}

.l3-title {
    text-decoration: none;
    color: slateblue;
}

.l3-title:hover {
    color: black;
}